h1 {
  font-size: 24px;
}

#hover-button {
  max-width: 100%;
  height: 45px;
  font-size: 22px;
  padding: 0 20px;
}

#hover-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.table-header {
  background-color: black;
  color: white;
}

.odd-row {
  background-color: #d2d2d2;
}
