.validated-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 3rem;
}

.password-text {
  font-size: 1.5rem;
  font-weight: bolder;
}

.validated-input input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 15rem;
}

.validated-input i {
  position: absolute;
  left: 32rem;
  top: 3.5rem;
  font-size: 1.75rem;
  color: red;
}

.validated-input i.fa-check {
  color: green;
}

.validated-input .error-message {
  position: absolute;
  top: 6rem;
  color: red;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
