.carousel {
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel-slide {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 15rem;
  transform: translate(-50%, -50%);
}

.carousel-slide.active {
  opacity: 1;
}

.controls {
  position: absolute;
}

.prev {
  left: 5%;
  top: 12rem;
  font-size: 2rem;
}

.next {
  right: 5%;
  top: 12rem;
  font-size: 2rem;
}

.dots-container {
  position: absolute;
  top: 32rem;
}

.dot {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.dot.active {
  color: red;
}
